/* Dropdown Button */
.dropbtn {
    background-color: #f0f0f0;
    color: white;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(150, 203, 255);
    color: white;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(226, 226, 226);
    color:rgb(112, 112, 112);
}
.dropac:hover {
    background-color: #343A40;
    color:rgb(112, 112, 112);
}

.dropdown-content1 a:hover{
    background-color: rgb(150, 203, 255);
    color: white;
}