 .link{
        border-radius: 8px;
    background-color:rgb(255, 255, 255);
    width: 250px;
    color:rgb(93, 131, 202);
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.border_theme{
    margin:40px 15px;
    background-color:rgb(235, 235, 235);
    border-radius:8px;
    color:rgb(109, 124, 206);
}
li{
    padding-bottom: 10px;
}
.scroll{
    overflow: auto;
    height: 650px;
    overflow-y: scroll;
}
.force-overflow {
    min-height: 300px;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(255, 255, 255);
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
.relative{
    position: relative;
    padding-left: 230px;
    padding-top:15px;
    padding-bottom:10px;
}
.relative h2{
    position: absolute;
    left: 5px;
    top:5px;
}
.relative a{
    padding-left: 8px;
}
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
  }
